{% extends 'base.html' %}
{% block content %}
<h1>Advertisement campaigns</h1>
<table class="table table-bordered table-hover">
  <tr>
    <th>Description</th>
    <th>Category</th>
    <th>Subscribers</th>
    <th>Age</th>
    <th>Male/Female</th>
    <th>Cities</th>
  </tr>
  {% for ad in ads %}
  <tr>
    <td>{{ ad.description }}</td>
    <td>{{ ad.category.name }}</td>
    <td>{{ ad.sub_count }}</td>
    <td>{% if ad.age_min and ad.age_max %}{{ ad.age_min }} - {{ ad.age_max }}
        {% elif ad.age_min %}>{{ ad.age_min }}
        {% else %}<{{ ad.age_max }}{% endif %}</td>
    <td>M: {{ ad.male_min }}, F: {{ ad.female_min }}</td>
    <td>{{ ad.cities }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}