{% extends "base.html" %}
{% block content %}
<h1>Top commenters for {{ group }} (last {{ last_posts_count }} posts)</h1>
<table class="table table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>Account</th>
    <th>Comments count</th>
  </tr>
  {% for account in commenters %}
  <tr>
    <td>{{ loop.index }}</td>
    <td><a href="https://vk.com/id{{ account.from_id }}">{{ account.from_id }}</a></td>
    <td>{{ account[1] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}