{% extends "base.html" %}
{% block content %}
<h1>Top comments for {{ group }} (last {{ last_posts_count }} posts)</h1>
<table class="table table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>Likes count</th>
    <th>Comment</th>
    <th>Account</th>
    <th>Link</th>
  </tr>
  {% for comment in comments %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ comment.likes_count }}</td>
    <td>{{ comment.text }}</td>
    <td><a href="https://vk.com/id{{ comment.from_id }}">{{ comment.from_id }}</a></td>
    <td><a href="https://vk.com/club{{ group.id }}?w=wall{{ comment.post_id }}_r{{ comment.id }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></a></span></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}