{% extends 'base.html' %}
{% block content %}

{% if accounts %}
<h1>Groups</h1>
<table class="table table-bordered table-hover">
<tr>
  <th>Link</th>
  <th>Name</th>
  <th>Screen name</th>
  <th>Description</th>
  <th>Type</th>
  <th>Members</th>
</tr>

{% for account in accounts %}
  <tr>
    <td><a href="{{ url_for('show_vk_group', group_id=account.id) }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
    <td>{{ account.name }}</td>
    <td>{{ account.screen_name }}</td>
    <td>{{ account.description }}</td>
    <td>{{ account.type }}</td>
    <td>{{ account.members_count }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}

{% if posts %}
<p>
Posts:
<table class="table table-bordered table-hover">
<tr>
  {% if type == 'vk' %}
  <th>Link</th>
  {% endif %}
  {% for key in posts[0] %}
  <th> {{ key }} </th>
  {% endfor %}
</tr>

{% for post in posts %}
  <tr>
    {% if type == 'vk' %}
    <td><a href="{{ url_for('get_vk_post_history', post_pk=post.pk) }}">Link</a></td>
    {% endif %}
  {% for value in post.values() %}
    <td> {{ value }} </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
</p>
{% endif %}

{% if comments %}
<p>
Comments:
<table class="table table-bordered table-hover">
<tr>
  {% for key in comments[0] %}
  <th> {{ key }} </th>
  {% endfor %}
</tr>

{% for comment in comments %}
  <tr>
  {% for value in comment.values() %}
    <td> {{ value }} </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
</p>
{% endif %}
</table>
</p>
{% endblock %}