{% extends 'base.html' %}
{% block content %}
<h1>
{{ group }}
</h1>
{% if stats %}
<h2>Stats</h2>
<div class="charts">
  <h3>Age</h3>
  <canvas id="chart-age" width="300" height="150"></canvas>
  <h3>Sex</h3>
  <canvas id="chart-sex" width="300" height="150"></canvas>
  <h3>Geographical</h3>
  <h4>Cities</h4>
  <canvas id="chart-cities" width="300" height="150"></canvas>
  <h4>Countries</h4>
  <canvas id="chart-countries" width="300" height="150"></canvas>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $.get('{{ url_for('get_vk_group_audience_json', group_id=group.id) }}', function(data) {
      var stats = data;
      console.log(stats);
      // Age: Bar chart, percents
      var males_data = [];
      var females_data = [];
      var total_sex_data = [];
      var age_labels = [];
      data['age'].forEach(function(record, i) {
        age_labels.push(record['min'] + '-' + record['max']);
        males_data.push(record['m_percent'] * 100);
        females_data.push(record['f_percent'] * 100);
        total_sex_data.push(record['total_percent'] * 100);
      });
      var age_chart = new Chart($('#chart-age'), {
        type: 'bar',
        data: {
          labels: age_labels,
          datasets: [
          {
            label: "Male",
            backgroundColor: 'rgb(0, 0, 120)',
            data: males_data,
          },
          {
            label: "Female",
            backgroundColor: 'rgb(120, 0, 0)',
            data: females_data,
          },
          {
            label: "Total",
            backgroundColor: 'rgb(120, 0, 120)',
            data: total_sex_data,
          }
          ],
        },
      });

      // Sex: Bar chart
      var sex_chart = new Chart($('#chart-sex'), {
        type: 'pie',
        data: {
          labels: ['Male', 'Female'],
          datasets: [{
            data: [stats['sex']['male'] * 100, stats['sex']['female'] * 100],
            backgroundColor: ['rgb(0, 0, 120)', 'rgb(120, 0, 0)'],
          }]
        }
      });

      // Geo: Horizontal bar chart
      var cities_data = [];
      var city_names = [];
      data['geo']['city'].forEach(function(record, i) {
        cities_data.push(record[1] * 100);
        if (!record[0]) {
          city_names.push('Unknown');
        } else {
          city_names.push(record[0]);
        }
      });
      var countries_data = [];
      var country_names = [];
      data['geo']['country'].forEach(function(record, i) {
        countries_data.push(record[1] * 100);
        if (!record[0]) {
          country_names.push('Unknown');
        } else {
          country_names.push(record[0]);
        }
      });
      var cities_chart = new Chart($('#chart-cities'), {
        type: 'horizontalBar',
        data: {
          labels: city_names,
          datasets: [{
            label: 'Percentage',
            data: cities_data,
            backgroundColor: 'rgb(0, 0, 120)',
          },]
        }
      });

      var countries_chart = new Chart($('#chart-countries'), {
        type: 'horizontalBar',
        data: {
          labels: country_names,
          datasets: [{
            label: 'Percentage',
            data: countries_data,
            backgroundColor: 'rgb(0, 0, 120)',
          },]
        }
      });
    });
  });
</script>
{% endif %}
{% if ads %}
<h2>Suggested Advertisements</h2>
<table class="table table-bordered table-hover">
  <tr>
    <th>Description</th>
    <th>Category</th>
    <th>Subscribers</th>
    <th>Age</th>
    <th>Male/Female</th>
    <th>Cities</th>
  </tr>
  {% for ad in ads %}
  <tr>
    <td>{{ ad.description }}</td>
    <td>{{ ad.category.name }}</td>
    <td>{{ ad.sub_count }}</td>
    <td>{% if ad.age_min and ad.age_max %}{{ ad.age_min }}-{{ ad.age_max }}
        {% elif ad.age_min %}>{{ ad.age_min }}
        {% else %}<{{ ad.age_max }}{% endif %}</td>
    <td>M: {{ ad.male_min }}, F: {{ ad.female_min }}</td>
    <td>{{ ad.cities }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<h2>Posts</h2>
<table class="table table-bordered table-hover">
<tr>
  <th>ID</th>
  <th>From</th>
  <th>Date</th>
  <th>Text</th>
  <th>Views</th>
  <th>Likes</th>
  <th>Reposts</th>
  <th>VK link</th>
</tr>
{% for post in posts %}
  <tr>
    <td><a href="{{ url_for('get_vk_post_history', post_pk=post.pk) }}">{{ post.pk }}</a></td>
    <td>{{ post.from_id }}</td>
    <td>{{ post.date }}</td>
    <td>{{ post.text }}</td>
    <td>{{ post.views_count }}</td>
    <td>{{ post.likes_count }}</td>
    <td>{{ post.reposts_count }}</td>
    <td><a href="https://vk.com/club{{ post.group.id }}?w=wall{{ post.pk }}">link</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}