{% extends "base.html" %}
{% block content %}
<h1>Submit JSON data for VK</h1>
<div class="row">
  <div class="col-xs-4">
    <form action="{{ url_for('import_vk_json') }}" enctype="multipart/form-data" method="post" name="import_vk">
    <div class="input-group">
      <input type="file" class="form-control" placeholder="VK data" name="vk_data">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Submit</button>
      </span>
    </div>
    </form>
  </div>
</div>
{% endblock %}