{% extends "base.html" %}
{% block content %}
<h1>Most popular posts</h1>
<p>For {{ date }}</p>
<table class="table table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>Post ID</th>
    <th>VK Link</th>
    <th>Text</th>
    <th>Likes</th>
    <th>Views</th>
    <th>Reposts</th>
    <th>Last update</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>{{ loop.index }}</td>
    <td><a href="{{ url_for('get_vk_post_history', post_pk=post.pk) }}">{{ post.pk }}</a></td>
    <td><a href="https://vk.com/wall{{ post.pk }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></a></span></td>
    <td>{% if post.text %}{{ post.text }}
        {% elif post.attachments %}{% if post.attachments[0]['type'] == 'photo' %}<img src="{{ post.attachments[0]['photo']['photo_130'] }}">{% else %}{{ post.attachments }}{% endif %}
        {% endif %}</td>
    <td>{{ post.likes_count }}</td>
    <td>{{ post.views_count }}</td>
    <td>{{ post.reposts_count }}</td>
    <td>{{ post.history[-1].timestamp }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}