{% extends 'base.html' %}
{% block content %}
<p>
Post {{ post.pk }} on wall of page <a href="{{ url_for('show_vk_group', group_id=post.group.id) }}">{{ post.owner_id }}</a>
</p>
{% if stats %}
<h2>Stats</h2>
<p>
  <dl>
    <dt>Period</dt>
    <dd>{{ stats['period']|round }} seconds ({{ stats['begin'] }} - {{ stats['end'] }})</dd>

    <dt>Views</dt>
    <dd>Diff: {{ stats['views_diff'] }}, speed: {{ stats['views_speed'] }} / min</dd>

    <dt>Likes</dt>
    <dd>Diff: {{ stats['likes_diff'] }}, speed: {{ stats['likes_speed'] }} / min</dd>

    <dt>Reposts</dt>
    <dd>Diff: {{ stats['reposts_diff'] }}, speed: {{ stats['reposts_speed'] }} / min</dd>
  </dl>
</p>
{% endif %}
{% if history %}
<div class="charts">
  <h2>Views</h2>
  <canvas id="chart-views" width="300" height="150"></canvas>
  <h2>Likes</h2>
  <canvas id="chart-likes" width="300" height="150"></canvas>
  <h2>Reposts</h2>
  <canvas id="chart-reposts" width="300" height="150"></canvas>
</div>
<script type="text/javascript">
$(document).ready(function() {

  $.get('{{ url_for('get_vk_post_history_json', post_pk=post.pk) }}', function(data) {
    var history = data;
    var viewsData = [];
    var likesData = [];
    var repostsData = [];
    var viewsLabels = [];
    var likesLabels = [];
    var repostsLabels = [];
    // window.debugData = {views: viewsData, likes: likesData, reposts: repostsData};
    history.forEach(function(record, i) {
      viewsData.push(record.views_count);
      viewsLabels.push(record.timestamp);
      likesData.push(record.likes_count);
      likesLabels.push(record.timestamp);
      repostsData.push(record.reposts_count);
      repostsLabels.push(record.timestamp);
    });

    var viewsChart = new Chart($('#chart-views'), {
      type: 'line',
      data: {
        labels: viewsLabels,
        datasets: [{
          label: "Views",
          borderColor: 'rgb(34, 4, 57)',
          data: viewsData,
          fill: false
        }],
      },
      options: {
        elements: {line: {tension: 0}},
        responsive: true,
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Timestamp'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
                display: true,
                labelString: 'Views'
            }
          }]
        }
      }
    });

    var likesChart = new Chart($('#chart-likes'), {
      type: 'line',
      data: {
        labels: likesLabels,
        datasets: [{
          label: "Likes",
          borderColor: 'rgb(170, 85, 133)',
          data: likesData,
          fill: false
        }],
      },
      options: {
        elements: {line: {tension: 0}},
        responsive: true,
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Timestamp'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
                display: true,
                labelString: 'Likes'
            }
          }]
        }
      }
    });

    var repostsChart = new Chart($('#chart-reposts'), {
      type: 'line',
      data: {
        labels: repostsLabels,
        datasets: [{
          label: "Reposts",
          borderColor: 'rgb(0, 51, 51)',
          data: repostsData,
          fill: false
        }],
      },
      options: {
        elements: {line: {tension: 0}},
        responsive: true,
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Timestamp'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
                display: true,
                labelString: 'Reposts'
            }
          }]
        }
      }
    });
  });
})
</script>
<table class="table table-bordered table-hover">
  <tr>
    <th>Timestamp</th>
    <th>Views</th>
    <th>Likes</th>
    <th>Reposts</th>
  </tr>
  {% for record in history %}
  <tr>
    <td>{{ record.timestamp }}</td>
    <td>{{ record.views_count }}</td>
    <td>{{ record.likes_count }}</td>
    <td>{{ record.reposts_count }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No history recorded for this post.</p>
{% endif %}
{% endblock %}