{% extends 'base.html' %}
{% block content %}
<h1>Search{% if group %} in {{ group }}{% endif %}</h1>

{% if group %}
<form action="{{ url_for('vk_search_in_group', group_id=group.id) }}" method="get" name="vk_search">
{% else %}
<form action="{{ url_for('vk_search') }}" method="get" name="vk_search">
{% endif %}
<div class="input-group">
  <input type="text" class="form-control" placeholder="Keywords (comma separated)" name="q" value="{{ search_query }}">
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </span>
</div>
</form>
{% if search_query %}
<h2>Results for query '{{ search_query }}'</h2>
<h3>Posts</h3>
<table class="table table-bordered table-hover">
<tr>
  <th>ID</th>
  <th>From</th>
  <th>Date</th>
  <th>Text</th>
  <th>Views</th>
  <th>Likes</th>
  <th>Reposts</th>
  <th>VK link</th>
</tr>
{% for post in posts %}
  <tr>
    <td><a href="{{ url_for('get_vk_post_history', post_pk=post.pk) }}">{{ post.pk }}</a></td>
    <td>{{ post.from_id }}</td>
    <td>{{ post.date }}</td>
    <td>{{ post.text }}</td>
    <td>{{ post.views_count }}</td>
    <td>{{ post.likes_count }}</td>
    <td>{{ post.reposts_count }}</td>
    <td><a href="https://vk.com/club{{ post.group.group_id }}?w=wall{{ post.pk }}">link</a></td>
  </tr>
{% endfor %}
</table>

<h3>Comments</h3>
<table class="table table-bordered table-hover">
<tr>
  <th>ID</th>
  <th>User</th>
  <th>Post</th>
  <th>Text</th>
  <th>Date</th>
  <th>Likes</th>
</tr>
{% for comment in comments %}
  <tr>
    <td><a href="https://vk.com/club{{ comment.post.group.id }}?w=wall{{ comment.post_id }}_r{{ comment.id }}">{{ comment.id }}</a></td>
    <td><a href="https://vk.com/id{{ comment.from_id }}">{{ comment.from_id }}</a></td>
    <td><a href="{{ url_for('get_vk_post_history', post_pk=comment.post_id) }}">{{ comment.post_id }}</a></td>
    <td>{{ comment.text }}</td>
    <td>{{ comment.date }}</td>
    <td>{{ comment.likes_count }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}