{% extends 'base.html' %}
{% block content %}
<h1><a href="https://instagram.com/{{ account.username }}">@{{ account.username }}</a></h1>
<div class="media">
  <div class="media-left media-top">
    <img class="media-object" src="{{ account.profile_pic_url }}" alt="Profile pic">
  </div>
  <div class="media-body">
    <ul>
      <li><strong>ID:</strong> {{ account.id }}</li>
      <li><strong>Full name:</strong> {{ account.full_name }}</li>
      <li><strong>Private:</strong> {{ account.is_private }}</li>
      <li><strong>Followers:</strong> {{ account.followed_by_count }}</li>
      <li><strong>Follows:</strong> {{ account.follows_count }}</li>
      {% if account.category %}
      <li><strong>Category:</strong> {{ account.category }}</li>
      {% endif %}
      <li><strong>Biography:</strong> {{ account.biography }}</li>
    </ul>
  </div>
</div>
<table class="table table-bordered table-hover">
<tr>
  <th>ID</th>
  <th>Content</th>
  <th>Caption</th>
  <th>Posted on</th>
  <th>Likes count</th>
  <th>Comments count</th>
  <th>Link</th>
</tr>
{% for media in medias|sort(attribute='like_count', reverse=True) %}
<tr>
  <td><a href="{{ url_for('get_instagram_media_history', media_id=media.id) }}">{{ media.id }}</a></td>
  <td>{% if media.type == 1 %}<img src="{{ media.image_low_resolution_url or media.image_thumbnail_url }}">{% else %}Video{% endif %}</td>
  <td>{{ media.caption }}</td>
  <td>{{ media.created_time }}</td>
  <td>{{ media.like_count }}</td>
  <td>{{ media.comment_count }}</td>
  <td><a href="{{ media.link }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
</tr>
{% endfor %}
</table>
{% endblock %}