{% extends "base.html" %}
{% block content %}
<h1>Top commenters for {{ account }} (last {{ last_medias_count }} medias)</h1>
<table class="table table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>Account</th>
    <th>Comments count</th>
  </tr>
  {% for record in commenters %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{record[0]}}</td>
    <td>{{record[1]}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}