{% extends 'base.html' %}
{% block content %}

{% if accounts %}
<p>
Accounts:

<table class="table table-bordered table-hover">
<tr>
  <th>Link</th>
  <th>Username</th>
  <th>ID</th>
  <th>Full name</th>
  <th>Private</th>
  <th>Followers</th>
  <th>Follows</th>
  <th>Category</th>
  <th>Media count</th>
</tr>

{% for account in accounts %}
  <tr>
    <td><a href="{{ url_for('show_instagram_account', account_name=account.username) }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
    <td>{{ account.username }}</td>
    <td>{{ account.id }}</td>
    <td>{{ account.full_name }}</td>
    <td>{{ account.is_private }}</td>
    <td>{{ account.followed_by_count }}</td>
    <td>{{ account.follows_count }}</td>
    <td>{{ account.category }}</td>
    <td>{{ account.media_count }}</td>
  </tr>
{% endfor %}
</table>
</p>
{% endif %}

{% if posts %}
<p>
Posts:
<table class="table table-bordered table-hover">
<tr>
  {% if type == 'vk' %}
  <th>Link</th>
  {% endif %}
  {% for key in posts[0] %}
  <th> {{ key }} </th>
  {% endfor %}
</tr>

{% for post in posts %}
  <tr>
    {% if type == 'vk' %}
    <td><a href="{{ url_for('get_vk_post_history', post_pk=post.pk) }}">Link</a></td>
    {% endif %}
  {% for value in post.values() %}
    <td> {{ value }} </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
</p>
{% endif %}

{% if comments %}
<p>
Comments:
<table class="table table-bordered table-hover">
<tr>
  {% for key in comments[0] %}
  <th> {{ key }} </th>
  {% endfor %}
</tr>

{% for comment in comments %}
  <tr>
  {% for value in comment.values() %}
    <td> {{ value }} </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
</p>
{% endif %}
</table>
</p>
{% endblock %}