{% extends 'base.html' %}
{% block content %}
<h2>Post info</h2>
<p>
  <ul>
    <li><strong>ID:</strong> {{ media.id }}</li>
    <li><strong>Type:</strong> {{ 'Image' if media.type == 1 else 'Video' }}</li>
    <li><strong>Owner:</strong> <a href="{{ url_for('show_instagram_account', account_name=media.owner.username) }}">{{ media.owner.username }}</a></li>
    <li><strong>Likes count:</strong> {{ media.like_count }}</li>
    <li><strong>Comments count:</strong> {{ media.comment_count }}</li>
    <li><strong>Instagram link:</strong> <a href="{{ media.link }}"><span class="glyphicon glyphicon-link" aria-hidden="true">{{ media.link }}</span></a></li>
  </ul>
</p>
{% if stats %}
<h2>Stats</h2>
<p>
  <dl>
    <dt>Period</dt>
    <dd>{{ stats['period']|round }} seconds ({{ stats['begin'] }} - {{ stats['end'] }})</dd>

    <dt>Likes</dt>
    <dd>Diff: {{ stats['likes_diff'] }}, speed: {{ stats['likes_speed'] }}</dd>

    <dt>Comments</dt>
    <dd>Diff: {{ stats['comments_diff'] }}, speed: {{ stats['comments_speed'] }}</dd>
  </dl>
</p>
{% endif %}
{% if history %}
<div class="charts">
  <h2>Likes</h2>
  <canvas id="chart-likes" width="300" height="150"></canvas>
  <h2>Comments</h2>
  <canvas id="chart-comments" width="300" height="150"></canvas>
</div>
<script type="text/javascript">
$(document).ready(function() {

  $.get('{{ url_for('get_instagram_media_history_json', media_id=media.id) }}', function(data) {
    var history = data;
    var likesData = [];
    var commentsData = [];
    var likesLabels = [];
    var commentsLabels = [];
    // window.debugData = {views: viewsData, likes: likesData, comments: commentsData};
    history.forEach(function(record, i) {
      likesData.push(record.likes_count);
      likesLabels.push(record.timestamp);
      commentsData.push(record.comments_count);
      commentsLabels.push(record.timestamp);
    });

    var likesChart = new Chart($('#chart-likes'), {
      type: 'line',
      data: {
        labels: likesLabels,
        datasets: [{
          label: "Likes",
          borderColor: 'rgb(170, 85, 133)',
          data: likesData,
          fill: false
        }],
      },
      options: {
        elements: {line: {tension: 0}},
        responsive: true,
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Timestamp'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
                display: true,
                labelString: 'Likes'
            }
          }]
        }
      }
    });

    var commentsChart = new Chart($('#chart-comments'), {
      type: 'line',
      data: {
        labels: commentsLabels,
        datasets: [{
          label: "Comments",
          borderColor: 'rgb(0, 51, 51)',
          data: commentsData,
          fill: false
        }],
      },
      options: {
        elements: {line: {tension: 0}},
        responsive: true,
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Timestamp'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
                display: true,
                labelString: 'Comments'
            }
          }]
        }
      }
    });
  });
})
</script>
<table class="table table-bordered table-hover">
  <tr>
    <th>Timestamp</th>
    <th>Likes</th>
    <th>Comments</th>
  </tr>
  {% for record in history %}
  <tr>
    <td>{{ record.timestamp }}</td>
    <td>{{ record.likes_count }}</td>
    <td>{{ record.comments_count }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No history recorded for this post.</p>
{% endif %}
{% endblock %}