{% extends "base.html" %}
{% block content %}
<h1>Most popular medias</h1>
<p>For {{ date }}</p>
<table class="table table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>Content</th>
    <th>Caption</th>
    <th>Posted on</th>
    <th>Likes count</th>
    <th>Comments count</th>
    <th>Link</th>
  </tr>
  {% for media in medias %}
  <tr>
    <td>{{ loop.index }}</td>
    <td><a href="{{ url_for('get_instagram_media_history', media_id=media.id) }}">{{ media.id }}</a></td>
    <td>{% if media.type == 1 %}<img src="{{ media.image_low_resolution_url }}">{% else %}<a href="{{ media.video_url }}">{{ media.video_url }}</a>{% endif %}</td>
    <td>{{ media.caption }}</td>
    <td>{{ media.created_time }}</td>
    <td>{{ media.like_count }}</td>
    <td>{{ media.comment_count }}</td>
    <td><a href="{{ media.link }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}