{% extends 'base.html' %}
{% block content %}
<h1>Search{% if account %} in {{ account }}{% endif %}</h1>

{% if account %}
<form action="{{ url_for('instagram_search_in_account', account_name=account.username) }}" method="get" name="instagram_search">
{% else %}
<form action="{{ url_for('instagram_search') }}" method="get" name="instagram_search">
{% endif %}
<div class="input-group">
  <input type="text" class="form-control" placeholder="Keywords (comma separated)" name="q" value="{{ search_query }}">
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </span>
</div>
</form>
{% if search_query %}
<h2>Results for query '{{ search_query }}'</h2>

<h3>Medias</h3>
<table class="table table-bordered table-hover">
<tr>
  <th>ID</th>
  <th>Content</th>
  <th>Caption</th>
  <th>Posted on</th>
  <th>Likes count</th>
  <th>Comments count</th>
  <th>Link</th>
</tr>
{% for media in medias %}
  <tr>
    <td><a href="{{ url_for('get_instagram_media_history', media_id=media.id) }}">{{ media.id }}</a></td>
    <td><img src="{{ media.image_low_resolution_url }}"></td>
    <td>{{ media.caption }}</td>
    <td>{{ media.created_time }}</td>
    <td>{{ media.like_count }}</td>
    <td>{{ media.comment_count }}</td>
    <td><a href="https://instagram.com/p/{{ media.shortcode }}/"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
  </tr>
{% endfor %}
</table>

<h3>Comments</h3>
<table class="table table-bordered table-hover">
<tr>
  <th>Account</th>
  <th>Media</th>
  <th>Text</th>
  <th>Posted on</th>
</tr>
{% for comment in comments %}
  <tr>
    <td><a href="{{ url_for('show_instagram_account', account_name=comment.owner_id) }}">{{ comment.owner_id }}</a></td>
    <td><a href="{{ url_for('get_instagram_media_history', media_id=comment.media_id) }}">{{ comment.media_id }}</a></td>
    <td>{{ comment.text }}</td>
    <td>{{ comment.created_at }}</td>
  </tr>
{% endfor %}
</table>

{% endif %}
{% endblock %}