<!DOCTYPE html>
<html lang="en">
<head>
  <title>Social media test script</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 70px;
    }
  </style>
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
</head>
<body>

  {% block navbar %}
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('show_vk_data') }}">VK</a></li>
          <li><a href="{{ url_for('show_instagram_data') }}">Instagram</a></li>
          <!-- <li><a href="{{ url_for('show_running_jobs') }}">Jobs</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  {% endblock navbar %}

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" data-dismiss="alert">×</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
</body>
</html>