{% extends 'base.html' %}
{% block content %}
<a href="{{ url_for('show_vk_data') }}">Show VK Data</a><br>
<a href="{{ url_for('show_instagram_data') }}">Show Instagram Data</a><br>
<a href="{{ url_for('show_running_jobs') }}">Show Current "jobs"</a>
{% endblock %}