{% extends 'base.html' %}
{% block content %}
<h1>Jobs</h1>
<h2>Create a task</h2>

<div class="row">
    <div class="col-lg-6">
        <h3>VK</h3>
        <form action="{{ url_for('start_vk_api') }}" method="post" name="start_vk">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="VK groups" name="vk_groups">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Start</button>
            </span>
        </div>
        </form>
    </div>

    <div class="col-lg-6">
        <h3>Instagram</h3>
        <form action="{{ url_for('start_instagram_api') }}" method="post" name="start_ig">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Instagram accounts" name="ig_accounts">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Start</button>
            </span>
        </div>
        </form>
    </div>
</div>

<h2>Current tasks</h2>
{% if jobs %}
<table class="table">
    <tr>
        <th>UUID</th>
        <th>Type</th>
        <th>Arguments</th>
        <th>Time started</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for job in jobs %}
    <tr>
        <td>{{ job['uuid'] }}</td>
        <td>{{ job['type'] }}</td>
        <td>{{ job['args'] }}</td>
        <td>{{ job['started'] }}</td>
        {% if job['running'] %}
            <td>Running</td>
            <td><a role="button" href="{{ url_for('stop_job', thread_uuid=job['uuid']) }}"><button class="btn btn-xs">Stop</button></a></td>
        {% else %}
            <td>Stopped</td>
            <td></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Jobs history is empty</p>
{% endif %}
{% endblock %}
